.filtersScreen{
    position: absolute;
    width: 210px;
    height: 170px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.45);
    border-radius: 5px;
    -webkit-filter: none;
    font-family: Tahoma;
    display: none;
}

.filtersScreen span{
    display: inline-block;
}

.filtersResetBtn{
    color: #2EC7E1;
    margin-left: 156px;
    margin-top: 3px;
    text-decoration: underline;
}

.filtersTable {
    width: 200px;
    height: 140px;
    color: #D0D0D0;
    margin: 0 auto;
}

.filtersTable td {
    vertical-align: middle;
}